<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <!--Deve configurar o connectionString de acordo com as configurações do servidor/banco de dados-->
    <add name="conexaoDB" connectionString="Data Source=SERVIDOR-PC\DB; Initial Catalog=tarefas; User id=sa; password=123"/>
  </connectionStrings>
</configuration>
